{% extends 'base.html.twig' %}

{% block header %}
<div id="hero">
    <div class="header">
        <h1>Adopt a friend</h1>
        <p>Adopt a friend est la pour vous aider à trouver votre prochain animal de compagnie </p>
        <div class="wrap">
            <form method="post" action="{{ url('bot') }}" id="demand-form">
                <div class="skeu">
                    <label for="demand" class="skeu-label" >Que souhaitez vous ?</label>
                    <input type="text" class="skeu-input" id="demand" name="demand" value="">
                </div>
                <input type="hidden" name="from" value="homepage">
            </form>
        </div>
        <div class="spinner hide">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="row">
        <h2><span>Nouvelles offres</span></h2>
    </div>
    {% for offer in newestOffers %}
        {% include ':includes:offer-case.html.twig' %}
    {% endfor %}
{% endblock %}