<div id="hero-basic">
    <div class="row">
        <div class="col-md-2 navigation-brand">
            <a href="{{ url('homepage') }}"> Adopt a friend</a>
        </div>
        <div class="col-md-1 ">
            Hellos
        </div>
    </div>
</div>